In [395]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import time

In [396]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [397]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

In [398]:
# Visit the NASA Mars News Site and scrape the latest News Title and Paragraph Text
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
time.sleep(1)
html = browser.html
browser.visit(url)
soup = BeautifulSoup(html, 'html.parser')

In [399]:
news_article = soup.find("div", class_='list_text')
print(news_article)

None

In [400]:
news_title = news_article.find("div", class_="content_title").text
news_p = news_article.find('div',class_="article_teaser_body").text
print(news_title)
print(news_p)

AttributeError: 'NoneType' object has no attribute 'find'

### JPL Mars Space Images - Featured Image

In [ ]:
#Visit the url for JPL and scrape the Featured Space Image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
html = browser.html
browser.visit(url)
time.sleep(1)
# Find 'FULL IMAGE' button and have splinter click it
full_img_button = browser.links.find_by_partial_text('FULL IMAGE')
full_img_button.click()

In [ ]:
# Find 'more info' button and have splintr click
more_info_element = browser.links.find_by_partial_text('more info')
more_info_element.click()

In [ ]:
# Get the result html with beautiful soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [ ]:
# Use beautiful soup to find full size jpeg image
figure_element = soup.find('figure', class_='lede')
full_image_url = figure_element.a['href']
print(full_image_url)

In [401]:
featured_image_url = f'https://www.jpl.nasa.gov{full_image_url}'
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16763_hires.jpg

### Mars Weather

In [451]:
url = "https://twitter.com/marswxreport?lang=en"
html = browser.html
browser.visit(url)
soup = BeautifulSoup(html,"html.parser")
time.sleep(1)

In [404]:
tweet = soup.find_all('div',class_='css-1dbjc4n').first
#tweet.find('span',class_='css-901oao')

AttributeError: ResultSet object has no attribute 'first'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [405]:
print(tweet.text)

Don’t miss what’s happeningPeople on Twitter are the first to know.Log inSign up216TweetSee new TweetsConversationMars Weather@MarsWxReportInSight sol 610 (2020-08-14) low -93.8ºC (-136.8ºF) high -16.8ºC (1.7ºF)
winds from the W at 6.5 m/s (14.5 mph) gusting to 16.6 m/s (37.0 mph)
pressure at 7.90 hPa5:51 PM · Aug 14, 2020·Daily Weather Report2 Retweets16 Likes

### Mars Facts

In [406]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://space-facts.com/mars/"

In [407]:
html = browser.html
browser.visit(url)
soup = BeautifulSoup(html,"html.parser")
time.sleep(1)

In [426]:
df = pd.read_html(url)
df[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [430]:
mars_facts_df = df[0]
mars_facts_df.columns = ['Description','Values']

mars_facts_df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [432]:
html = mars_facts_df.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [438]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [441]:
html = browser.html
browser.visit(url)
soup = BeautifulSoup(html,"html.parser")
time.sleep(1)

In [450]:
hemispheres = soup.find_all('h3')
print(hemispheres)

[<h3>Cerberus Hemisphere Enhanced</h3>, <h3>Schiaparelli Hemisphere Enhanced</h3>, <h3>Syrtis Major Hemisphere Enhanced</h3>, <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [ ]:
for hemisphere in hemispheres:
    browser.links.find_by_partial_text('more info')

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]